<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Jared Wright: programmer, hacker, student</title>
	<meta name="description" content="Jared Wright's official website and blog">
	<meta name="keywords" content="Jared,Wright,programmer,blog,hacker,tech">
	<meta name="author" content="Jared Wright">
	<meta charset="UTF-8">
</head>
<body>
	<div style='margin: 0 auto;width: 30%;margin-top: 100px;margin-bottom: 100px'>
		<%= yield %>
	</div>
</body>
</html>
