Jared Wright
<p>I am a programmer, hacker, and student. I post about anything that I find interesting, which is usually tech-related.</p> 
<a href='/posts'>recent posts</a>
<br>
<a href='https://github.com/jawerty'>github</a>
<br>
<a href='https://twitter.com/jawerty'>twitter</a>
<br>