<h3>New Post</h3>
<a href='/'>back</a>
<form method='post'>
	<br>title<br>
	<input type='text' name='title' />
	<br>content<br>
	<textarea cols='40' rows='4' name='content'></textarea>
	<br>
	<input type='submit' value='post' />
</form>